{% extends "/book/base.html" %}
{% import "/bootstrap/wtf.html" as wtf %}

{% block title %}书床|重置密码{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:60px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <form method="POST">
                {{ form.csrf_token }}
                <fildset>
                    <h2>重置密码</h2>
                    <hr class="colorgraph">
                    {{ wtf.form_field(form.email, placeholder='Email Address', class='form-control input-lg') }}
                    <hr class="colorgraph">
                    <div class="row">
                        <div style="margin-left: 15px;margin-right: 15px;">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="重置">
                        </div>
                    </div>
                </fildset>
            </form>

        </div>
    </div>
</div>
{% endblock %}
