{%- extends "bootstrap/base.html" %}

{% block title %}书床{% endblock %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="alternate" href="https://www.fythonfang.com" hreflang="zh-cn" />
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">书床</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('main.index') }}" class="">资讯</a></li>
                        <li><a href="{{ url_for('blog.home') }}">博客</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        {% if current_user.is_authenticated %}
                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}  <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                                <li><a href="#">个人主页</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                        {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:80px">

        {% for message in get_flashed_messages() %}
        {% if message %}
        <div class="alert alert-warning" style="margin-top: 0px; margin-bottom: 25px">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {{ moment.include_moment('local_js', 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js') }}
    {{ moment.locale('zh-CN') }}


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109420143-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109420143-1');
    </script>
{% endblock %}