{% extends "/book/base.html" %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/ftown.css">
{% endblock %}

{% block page_content %}
    <div class="Card">
       <div class="Card-header PubIndex-recommendationsHeader">
          <div class="Card-headerText">图书</div>
       </div>
       <ul class="BookList PubIndex-recommends">
           {% for book in books %}
               <li class="BookItem">
                   <a href="{{ book.url }}">
                       <div class="BookItem-coverWrapper"><img class="BookItem-cover" src="{{ book.image.replace('spic', 'lpic') }}" alt="封面" width="150" height="200"></div>
                       <div class="BookItem-title">{{ book.title }}</div>
                       <div class="BookItem-authors">{{ book.author }}</div>
                   </a>
               </li>
           {% endfor %}
       </ul>
    </div>
    <div class="Card">
        <div class="Card-header PubIndex-recommendationsHeader">
            <div class="Card-headerText">Github</div>
        </div>
        <div class="Card-list-content">
            <ol>
                <li><a href="">爬虫是不是应该用 Node.js 取代 Python？</a>爬虫是不是应该用 Node.js 取代 Python？</li>
                <li>百度、谷歌等搜索引擎用的是什么算法来搜索？</li>
            </ol>
        </div>
    </div>
{% endblock %}
