<ul class="comments">
            {% if comments %}
            {% for comment in comments %}
            <li class="comment">
                <div class="comment-thumbnail">
                        <img src="{{ comment.author.gravatar() }}">
                </div>
                <div class="comment-block">
                    <div class="list-comment-header">
                        <div class="comment-date">{{ moment(comment.ctime).fromNow() }}</div>
                        <div class="comment-author"><a href="">{% if comment.author.username %}{{ comment.author.username }}{% else %}{{ comment.author.name }}{% endif %}</a></div>
                    </div>
                    <div class="comment-body">{{ comment.body_html | safe }}</div>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <li class="comment">
                <div class="comment-block-none">
                暂无评论
                </div>
            </li>
            {% endif %}
        </li>
</ul>

