<ul class="comments">
    {% if comments %}
        {% for comment in comments %}
        <li class="comment">
            <div class="comment-content">
                <div class="list-comment-header">
                    <div class="comment-author"><a href="">{{ comment.author.username }}</a></div>
                    <div class="comment-date">{{ moment(comment.ctime).fromNow() }}</div>
                </div>
				<div class="comment-body">{{ comment.body_html | safe }}</div>
			</div>
        </li>
        {% endfor %}
    {% else %}
        <li>暂时还没有评论</li>
    {% endif %}
</ul>

