{% for post in posts %}
    <div class="post-preview">
        <a href="{{ url_for('blog.onepost', post_id=post.id) }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted by <a href="{{ url_for('blog.about') }}">{{ post.author.username }}</a> on {{ moment(post.timestamp).format('LL') }}</p>
    </div>
    <hr>
{% endfor %}