{% for post in posts %}
    <div class="post-preview">
        <a href="{{ url_for('blog.onepost', post_id=post.id) }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% endif %}
        </a>
        <p class="post-meta" style="margin-bottom: 0px;">Posted by <a href="{{ url_for('blog.about') }}">{{ post.author.username }}</a> on {{ moment(post.timestamp).format('LL') }}</p>
        <div class="post-footer">
            <a href="#"><span class="label label-success">0 Like</span></a>
            <a href="#"><span class="label label-default">0 Comments</span></a>
            <a href="#"><span class="label label-default">Permalink</span></a>
        </div>
    </div>
    <hr>
{% endfor %}