{% extends '/blog/base-blog.html' %}

{% block title %}About | Fython's Blog{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://omv6w8gwo.qnssl.com/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">悟已往之不谏，知来者之可追。实迷途其未远，觉今是而昨非。</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>你好！小幸运，欢迎来到我的个人博客<img src="https://www.webpagefx.com/tools/emoji-cheat-sheet/graphics/emojis/stuck_out_tongue_closed_eyes.png" height="20" width="20" align="absmiddle">
</p>
                <p>执着、偏执、Geek Nerd、Minimalist、爱折腾</p>
                <p>大学专业是工地搬砖的，现在在一个创业公司做算法实施(Python)，不属于一个科班出身的Developer但这门行业不会持续学习更新自己是不能立足的，我恰恰热爱新潮技术总想去试试，所以干了这行。工作之余爱生活，爱看各种闲书，折腾各种硬件(路由、树莓派..)也有自己的Small Dream，总之大家一起加油！</p>
                <p>另外，很开心，这是一个属于我自己的地方我是这个网站的CEO所以我有绝对控制权，我会在这里分享学到的技术、最近看的书和电影、
                    扯淡等等，但也只是个人的观点带有很强的自我性，分享的技术文章也只是自己实践学习得来的心得记录，可能还会有些纰漏和错误，
                    欢迎在文章下方评论和指正，或者给我发<a href="mailto:fang.jia.hui123@gmail.com"><b>邮件</b></a>。</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include '/blog/_footer.html' %}
{% endblock %}

