{% extends '/blog/base-blog.html' %}

{% block title %}About | Fython's Blog{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://omv6w8gwo.qnssl.com/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">悟已往之不谏，知来者之可追。实迷途其未远，觉今是而昨非。</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>你好！小幸运，欢迎来到我的个人博客。</p>
                <p>执着、偏执、Geek Nerd、Minimalist、爱折腾算是我的几个TAG。</p>
                <p>大学专业是工地搬砖的，现在在一个创业公司做测试，空余时间学编程，不属于一个专业的Developer但我热爱IT技术，爱生活，也有自己的Small Dream，爱看各种书，因此自学了很多的东西，
                    包括这个网站的<a href="{{ url_for('blog.onepost', post_id=1) }}">搭建</a>，还在学习的路上，当然路还很长，想想还有很多很多的东西要学 要加油了</p>
                <p>很开心，这是一个属于我自己的地方我是这个网站的CEO所以我有绝对自由，我会在这里分享学到的技术、最近看的书和电影、
                    扯淡等等，但也只是个人的观点带有很强的自我性，分享的技术文章也只是自己实践学习得来的心得记录，可能还会有些纰漏和错误，
                    欢迎在文章下方评论和指正，或者给我发<a href="mailto:fang.jia.hui123@gmail.com"><b>邮件</b></a>。</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include '/blog/_footer.html' %}
{% endblock %}

