{%- extends 'bootstrap/base.html' %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
  {{ super() }}
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="alternate" href="https://www.fythonfang.com" hreflang="zh-cn" />

  {# enable fixes for legacy browsers #}
  {{ fixes.ie8() }}
{%- endblock %}

{% block styles %}
{#   {{ super() }}#}

  {# 国内CDN bootstrap.min.css #}
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  {# Theme CSS #}
  <link href="/static/css/clean-blog.css" rel="stylesheet">

  {# Custom Fonts #}
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{#  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>#}
{#  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>#}
  <link href='/static/css/font1.css' rel='stylesheet' type='text/css'>
  <link href='/static/css/font2.css' rel='stylesheet' type='text/css'>


{% endblock %}

{% block title %}Fython's Blog{% endblock %}

{% block navbar %}
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          菜单 <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href={{ url_for("blog.home") }}>FTown Blog</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href={{ url_for("blog.home") }}>主页</a>
          </li>
          <li>
            <a href={{ url_for("blog.about") }}>关于</a>
          </li>
          <li>
            <a href={{ url_for("blog.post") }}>最新发表</a>
          </li>
          <li>
            <a href={{ url_for("blog.contact") }}>联系我</a>
          </li>
          <li>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for("blog.dashboard") }}">管理后台</a>
            {% else %}
            <a href={{ url_for("auth.login") }}>登录</a>
            {% endif %}
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
{% endblock %}


{% block scripts %}
{#   {{ super() }}#}

  {# 国内CDN #}
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {# Theme JavaScript #}
  <script src="/static/js/clean-blog.min.js"></script>

{#  <script>#}
{#  $(document).ready(function () {#}
{#      $('.container a').attr('target', '_blank');#}
{#      $('.container .label-danger').parent().removeAttr('target');#}
{#      $('.container .next a').removeAttr('target')#}
{#  })#}
{#  </script>#}

  {{ moment.include_moment('local_js','https://cdn.bootcss.com/moment.js/2.10.3/moment-with-locales.min.js') }}
  {{ moment.locale('zh-CN') }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109420143-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109420143-1');
  </script>

{% endblock %}