{% extends "/book/base.html" %}
{% import "/blog/_macros.html" as macros %}

{% block title %}Dashboard{% endblock %}

{% block page_content %}
    <div class="table-box">
        <ul class="nav nav-tabs" role="tablist" id="feature-tab">
            <li class="active"><a href="#">ARTICLE</a></li>
            <li class="disabled"><a href="#">GALLERY</a></li>
        </ul>
        <div style="padding-top: 10px">

            <a class="btn btn-info btn-sm" href="{{ url_for('blog.write') }}">WRITE</a>
            <table class="table table-hover" id="blog-table" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>PICTURE</th>
                    <th>READS</th>
                    <th>COMMENTS</th>
                    <th>LIKES</th>
                    <th>CTIME</th>
                    <th>MTIME</th>
                    <th>OPERATE</th>
                </tr>
                </thead>
                <tbody>
                        {% for p in posts %}
                        <tr>
                            <td>NO.{{ p.id }}</td>
                            <td width="380px"><a href="{{ url_for('blog.onepost', post_id=p.id) }}">{{ p.title }}</a></td>
                            <td>
                                <a href="{% if p.picture %}https://omv6w8gwo.qnssl.com/{{p.picture}}{% else %}#{% endif %}" class="thumbnail" data-title="<div style='padding-top:5px;font-size: 16px'></div>">
                                    <img src="{% if p.picture %}https://omv6w8gwo.qnssl.com/{{p.picture}}{% else %}#{% endif %}" height="30px" style="height: 30px">
                                </a>
                            </td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>{{ moment(p.timestamp).format('l') }}</td>
                            <td>{{ moment(p.mtimestamp).format('lll') }}</td>
                            <td width="130px">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-success" onclick="location.href='{{ url_for('blog.edit', id=p.id) }}'">REVISE</button>
                                    <a class="btn btn-warning" href="{{ url_for('blog.delete', id=p.id) }}">DELETE</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            <div class="pagination-bottom" style="text-align: center">
                {{ macros.pagination_widget_long(pagination, 'blog.dashboard') }}
            </div>
        </div>
	</div>
{% endblock %}