{% extends '/blog/base-blog.html' %}


{% block content %}
    <!-- Page Header -->
    <!-- Set background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://img.fythonfang.com/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Hello Blog</h1>
                        <hr class="small">
                        <span class="subheading">记录生活 分享技术</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="post">
                <!-- Pager -->
                {% include '/blog/_posts.html' %}
                <!--Pagination-->
                {% if not username %}
                    {% set username=None %}
                {% endif %}
                {% if not tag_name %}
                    {% set tag_name = None %}
                {% endif %}
                {% if pagination %}
                    {% import '/blog/_macros.html' as macros %}
                    {{ macros.pagination_widget(pagination, endpoint, username=username, tag_name=tag_name) }}
                {% endif %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include '/blog/_footer.html' %}
{% endblock %}

