{% extends '/blog/base-blog.html' %}

{% block title %}{{ post.title }} | Fython's Blog{% endblock %}
{% block content %}
    <!-- Page Header -->
    <!-- Set background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://omv6w8gwo.qnssl.com/{% if post.picture %}{{ post.picture }}{% else %}post-bg.jpg{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        {% if post.subtitle %}
                            <h2 class="subheading">{{ post.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">Posted by <a href="#">{{ post.author.username }}</a> on {{ moment(post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.body_html | safe }}
                    <div class="post-views">浏览量 {{ post.views }}</div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include '/blog/_footer.html' %}
{% endblock %}
