{% extends '/blog/base-blog.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ post.title }} | Fython's Blog{% endblock %}
{% block content %}
    <!-- Page Header -->
    <!-- Set background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://omv6w8gwo.qnssl.com/{% if post.picture %}{{ post.picture }}{% else %}post-bg.jpg{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        {% if post.subtitle %}
                            <h2 class="subheading">{{ post.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">Posted by <a href="#">{{ post.author.username }}</a> on {{ moment(post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.body_html | safe }}
                    <div class="content-footer">
                        <a href="{{ url_for('blog.like', id=post.id) }}"><span class="label label-danger">{{ post.likes }} Likes</span></a>
                        <div class="post-views">浏览量 {{ post.views }}</div>
                    </div>
                    <hr>
                    <div class="comment-header" id="comment">
                        {% if current_user.is_authenticated %}
                            <div class="current-user-header">{{ current_user.username }}</div>
                        {% endif %}
                        <div class="comment-count-header">{{ count }} 评论 &nbsp;&nbsp;&nbsp;<strong><a href="{{ url_for('blog.user_post', username=post.author.username) }}">{{ post.author.username }}'s Blog</a></strong></div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="comment-content-area">
                        <form method="POST">
                        {{ form.csrf_token }}
                        {{ wtf.form_field(form.content) }}
                        {{ wtf.form_field(form.submit) }}
                        </form>
                    </div>
                    {% else %}
                    <div class="comment-login-area">
                        您还没有登录，请<a href="{{ url_for('auth.login') }}?next={{ url_for('blog.onepost', post_id=post.id) }}#comment"><strong>登录</strong></a>后评论。
                    </div>
                    {% endif %}
                    <div class="comment-content">
                    {% include 'blog/_comments.html' %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include '/blog/_footer.html' %}
{% endblock %}
