{% extends '/blog/base-blog.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ post.title }} | Fython's Blog{% endblock %}
{% block content %}
    <!-- Page Header -->
    <!-- Set background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://omv6w8gwo.qnssl.com/{% if post.picture %}{{ post.picture }}{% else %}post-bg.jpg{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        {% if post.subtitle %}
                            <h2 class="subheading">{{ post.subtitle }}</h2>
                        {% endif %}
                        <span class="meta">Posted by <a href="#">{{ post.author.username }}</a> on {{ moment(post.timestamp).format('MMMM Do YYYY, h:mm:ss a') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.body_html | safe }}
                    <div class="content-footer">
                        {% for tag in post.tags %}
                            <a href="{{ url_for('blog.tag_sort', tag_name=tag.name) }}"><span class="label label-success"><i class="fa fa-tag"></i> {{ tag.name }}</span></a>
                        {% endfor %}
                        <a href="{{ url_for('blog.like', id=post.id) }}"><span class="label label-danger">{{ post.likes }} Likes</span></a>
                        <div class="post-views">浏览量 {{ post.views }}</div>
                    </div>

                    <!--MOB SHARE BEGIN-->
                    <div class="-mob-share-ui-button -mob-share-open -mob-share-ui-theme">分享</div>
                    <div class="-mob-share-ui -mob-share-ui-theme -mob-share-ui-theme-slide-bottom" style="display: none">
                        <ul class="-mob-share-list">
                            <li class="-mob-share-weibo"><p>新浪微博</p></li>
                            <li class="-mob-share-tencentweibo"><p>腾讯微博</p></li>
                            <li class="-mob-share-qzone"><p>QQ空间</p></li>
                            <li class="-mob-share-qq"><p>QQ好友</p></li>
                            <li class="-mob-share-weixin"><p>微信</p></li>
                            <li class="-mob-share-douban"><p>豆瓣</p></li>
                            <li class="-mob-share-renren"><p>人人网</p></li>
                            <li class="-mob-share-kaixin"><p>开心网</p></li>
                            <li class="-mob-share-facebook"><p>Facebook</p></li>
                            <li class="-mob-share-twitter"><p>Twitter</p></li>
                            <li class="-mob-share-pocket"><p>Pocket</p></li>
                            <li class="-mob-share-google"><p>Google+</p></li>
                            <li class="-mob-share-youdao"><p>有道云笔记</p></li>
                            <li class="-mob-share-mingdao"><p>明道</p></li>
                            <li class="-mob-share-pengyou"><p>朋友网</p></li>
                            <li class="-mob-share-tumblr"><p>Tumblr</p></li>
                            <li class="-mob-share-instapaper"><p>Instapaper</p></li>
                            <li class="-mob-share-linkedin"><p>LinkedIn</p></li>
                        </ul>
                        <div class="-mob-share-close">取消</div>
                    </div>
                    <div class="-mob-share-ui-bg"></div>
                    <script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=20123951491e4"></script>
                    <!--MOB SHARE END-->

                    <hr>
                    <div class="comment-header" id="comment">
                        {% if current_user.is_authenticated %}
                            <div class="current-user-header">{{ current_user.username }}</div>
                        {% endif %}
                        <div class="comment-count-header">{{ count }} 评论 &nbsp;&nbsp;&nbsp;<strong><a href="{{ url_for('blog.user_post', username=post.author.username) }}">{{ post.author.username }}'s Blog</a></strong></div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="comment-content-area">
                        <form method="POST">
                        {{ form.csrf_token }}
                        {{ wtf.form_field(form.content) }}
                        {{ wtf.form_field(form.submit) }}
                        </form>
                    </div>
                    {% else %}
                    <div class="comment-login-area">
                        您还没有登录，请<a href="{{ url_for('auth.login') }}?next={{ url_for('blog.onepost', post_id=post.id) }}#comment"><strong>登录</strong></a>后评论。
                    </div>
                    {% endif %}
                    <div class="comment-content">
                    {% include 'blog/_comments.html' %}
                    </div>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include '/blog/_footer.html' %}
{% endblock %}
